<div class="floor" *ngFor="let floor of floors">
  <div class="floor-label">Floor {{ floor.floor }}</div>
  <div class="floor-row">
    
    <!-- Stairs & Lift -->
    <div class="facility">
      <span class="icon">🪜</span>
      <span class="icon">🛗</span>
    </div>

    <!-- Rooms -->
    <div class="rooms">
      <div
        *ngFor="let room of floor.rooms"
        class="room"
        [ngClass]="{
          booked: room.occupied,
          available: !room.occupied,
          highlight: isLastBooked(room.id)
        }"
        (click)="onRoomClick(room)"
      >
        {{ room.id }}
      </div>
    </div>
  </div>
</div>
